@media (max-width: 425px) {

    .prev, .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        top: 50%;
        padding: 25px;
        font-weight: bold;
        font-size: 35px;
        color:#03f4fc;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    .next {
        right: -325px;
        border-radius: 3px 0 0 3px;
    }

    .text {
        position: absolute;
        color: #fff;
        font-size: 25px;
        left: 50%;
        top: 10%;
        transform: translate(10%,-10%);
        text-shadow: 1px 1px 1px #000, 0 0 1em #000;
    }
    
    .numbertext {
        font-size: 20px;
        margin-left: 60%;
        font-weight: bold;
        color: #008080;
    }
    
    .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #008080;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
       
    }

    .media {
        margin-left: 60%;
    }
}




